In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')

In [2]:
iris_df = pd.read_csv("IRIS.csv")

### To find min, max, median â€“ Sepal_length, sepal_width, petal_length, petal_width for each species in the dataset.

In [19]:
iris_df.groupby('species').agg(min)
#OR
# for unique_val in iris_df.species.unique():
#     print(iris_df[iris_df.species.str.contains(unique_val)].min())

                 sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa               4.3          2.3           1.0          0.1
Iris-versicolor           4.9          2.0           3.0          1.0
Iris-virginica            4.9          2.2           4.5          1.4

In [12]:
iris_df.groupby('species').agg(max)
#OR
# for unique_val in iris_df.species.unique():
#     print(iris_df[iris_df.species.str.contains(unique_val)].max())

                 sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa               5.8          4.4           1.9          0.6
Iris-versicolor           7.0          3.4           5.1          1.8
Iris-virginica            7.9          3.8           6.9          2.5

In [14]:
iris_df.groupby('species').median()
#OR
# for unique_val in iris_df.species.unique():
#     print(iris_df[iris_df.species.str.contains(unique_val)].median())

                 sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa               5.0          3.4          1.50          0.2
Iris-versicolor           5.9          2.8          4.35          1.3
Iris-virginica            6.5          3.0          5.55          2.0

###  2.	Plot any sepal_length by sepal_width  as a scatter plot , such that each species is plotted with a  different color.
###  3.	Plot the  global average of the sepal length on the same graph

In [ ]:
# sns.set_style('darkgrid')
# sns.pairplot(x_vars=["sepal_length"], y_vars=["sepal_width"], data=iris_df, hue="species",size=6)

groupsBySpecies = iris_df.groupby('species')
plt.rcParams['figure.figsize'] = (12, 8)
fig, ax = plt.subplots()
for name,group in groupsBySpecies:
    ax.scatter(x=group.sepal_length,y=group.sepal_width,marker='o',label=name)    

sepal_length_avg = [iris_df.sepal_length.mean()]*len(iris_df.sepal_length)
plt.plot(sepal_length_avg,iris_df.sepal_width, label='Global avg of sepal len', linestyle='--')
plt.xlabel("sepal_length",fontsize=15)
plt.ylabel("sepal_width",fontsize=15)
plt.legend()
plt.title("Sepal_length vs Sepal_width for each Flowers",fontsize=15)
plt.show()